<section>
  <div class="charisHome">
    <h2 class="gText text-uppercase fw-bolder ms-3 mb-4">Chairs</h2>
  </div>
</section>

<section>
  <div class="container-fluid gallery">
    <div class="row">
      <div
        class="col-sm-6 col-md-4 col-lg-3"
        *ngFor="let product of chairsProducts"
      >
        <div class="chairCard" [routerLink]="['/details', product.id]">
          <div class="img">
            <img [src]="product.imageUrl" alt="" class="chairImg" />
          </div>
          <div class="info">
            <p class="pstatus">{{ product.status }}</p>
            <div class="pname">{{ product.name }}</div>
          </div>
          <div class="price">
            <span>{{ product.price }}$</span>
            <div class="view">
              <p class="gText hover">ADD TO CART</p>
              <p class="gText hover">QUICKVIEW</p>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>