<!-- Products-start -->
<div class="products-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 product-left">
        <img [src]="product.imageUrl" [alt]="product.name" />
      </div>

      <div class="col-lg-6 product-right">
        <div class="product-category">
          <div class="category-name">
            <a href="">{{ product.category }}</a> <!-- Dynamic Category -->
          </div>
          <div class="category-arrows">
            <!-- Arrows SVGs here -->
          </div>
        </div>

        <div class="product-description">
          <h1>{{ product.name }}</h1>
          <h6>£{{ product.price }}</h6>
          <p>{{ product.description }}</p>

          <div class="product-card">
            <div class="addToCard">
              <div class="numbers">
                <span class="minus">-</span>
                <span class="number">1</span>
                <span class="plus">+</span>
              </div>
              <div class="card-button">
                <button>ADD TO CART</button> <!-- Fixed typo -->
              </div>
            </div>
            <div class="addToWishlist">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!-- Wishlist SVG here -->
              </svg>
              <a href="">ADD TO WISHLIST</a>
            </div>
          </div>

          <div class="icons-container">
            <p>Category: {{ product.category }}</p>
            <div class="icons">
              <span>SHARE</span>
              <!-- Social Share SVGs here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products-end -->
<!-- Description-start -->
<!-- Add your description and reviews section here -->
